body {
  font-family: Arial;
  background: #f1f1f1;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #333;
}

.box {
  margin: 15px;
}

input {
  padding: 8px;
  border: 1px solid gray;
  border-radius: 4px;
}

button {
  padding: 8px 12px;
  background: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: darkgreen;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

li {
  background: white;
  margin: 5px auto;
  padding: 8px;
  width: 250px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

.deleteBtn {
  background: red;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 3px 7px;
  cursor: pointer;
}

.totalPart {
  margin-top: 15px;
}
